# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Raw Data
data/raw/

# Processed Data (optional if too large)
# data/processed/
